<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ib.edu.Abtester">

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ib.edu.Abtester.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ib.edu.Abtester.MenuController"/>
        <activity android:name="ib.edu.Abtester.RegisterActivity"/>
        <activity android:name="ib.edu.Abtester.PaintingActivity"
            android:theme="@style/DrawingTheme"/>
        <activity android:name="ib.edu.Abtester.ResultsActivity" />
        <activity android:name="ib.edu.Abtester.StatisticsActivity" />
        <activity android:name="ib.edu.Abtester.InstructionActivity" />
        <activity android:name="ib.edu.Abtester.PretestActivity" />
    </application>

</manifest>